.navigationHead{
	display: inline-block;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#help{
	/*margin-left:20px;
	margin-top:-50px;*/
	border:1px solid white;
	border-radius:50px 50px 50px 50px;
	padding: 5px;
	background-color: #7693b3;
	font-size: 17px;
	display: inline;
	
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}



.popup1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup1 .popuptext1 {
  visibility: hidden;
  width: 160px;
  background-color: #b3d0ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: -450%;
  left: 50%;
  margin-left: -80px;
  font-family: monospace; 
  font: Courier New;
  text-align: center;
  color: #8ab7ff;
}

/* Popup arrow */
.popup1 .popuptext1::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup1 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn1 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}